{
  "GOOGLE_IOS_CLIENT_ID": "your-gcp-ios-client-id.apps.googleusercontent.com",
  "GOOGLE_WEB_CLIENT_ID": "your-gcp-web-application-client-id.apps.googleusercontent.com",
  "GOOGLE_DESKTOP_CLIENT_ID": "your-gcp-desktop-app-client-id.apps.googleusercontent.com",
  "GOOGLE_DESKTOP_CLIENT_SECRET": "your-gcp-desktop-app-client-secret"
}
